go 1.25.5

use (
	./internal/examples
	./internal/temporal/courses/edu-101-go-code
	./internal/temporal/courses/edu-102-go-code
	./internal/tutorials/compute-engine
	./internal/tutorials/compute-math
	./modules/common
	./modules/common/validation/examples
	./modules/compute/engine
	./modules/compute/math
	./modules/compute/tests/acceptance
	./modules/config
	./modules/crypto
	./modules/extensions/common/cast
	./modules/extensions/common/http/breaker
	./modules/extensions/common/http/limiter
	./modules/extensions/common/http/retry
	./modules/extensions/common/log/slog
	./modules/extensions/common/log/zerolog
	./modules/extensions/common/resilience/breaker
	./modules/extensions/common/resilience/limiter
	./modules/extensions/common/resilience/retry
	./modules/extensions/common/uids
	./modules/extensions/security/authn/grpc
	./modules/extensions/security/authn/http
	./modules/extensions/security/authz/grpc
	./modules/extensions/security/authz/http
	./modules/extensions/telemetry/otel/http
	./modules/extensions/telemetry/otel/slog
	./modules/managed/cache/redis
	./modules/managed/cache/redis/examples
	./modules/managed/cache/ristretto
	./modules/managed/cache/ristretto/examples
	./modules/managed/cron
	./modules/managed/cron/examples
	./modules/managed/diagnostics
	./modules/managed/diagnostics/examples
	./modules/managed/grpc
	./modules/managed/grpc/examples
	./modules/managed/http
	./modules/managed/http/examples
	./modules/managed/keep-alive
	./modules/managed/telemetry/otel
	./modules/messaging
	./modules/messaging/examples
	./modules/security/authn
	./modules/security/authz
	./modules/validation
	./sdks/decisions/core
	./sdks/decisions/examples
	./tools
	./tools/lint/inlineassign
)
