go 1.25.2

use (
	./internal/deprecated
	./internal/dlocal
	./internal/examples
	./internal/temporal/courses/edu-101-go-code
	./modules/common
	./modules/maths
	./modules/security
	./modules/servers
)
